* {
    padding: 0;
    margin: 0;
}


nav {
    background-color: rgb(72, 142, 217);
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: larger;
    padding: 10px;

}

nav a:hover {
    background-color: rgb(130 179 218);
}


nav :nth-child(1) {
    background-color: rgb(130 179 218);
}

nav .cartImg {
    all: unset;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;

}

nav .cartImg img {
    background-color: rgb(72, 142, 217);
}

nav .cartImg:hover {
    background-color: rgb(72, 142, 217);
}

main .hero {
    background-image: url('/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

main .hero div {
    font-family: cursive;
    font-size: xxx-large;
    padding: 160px;
}

main section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main section div {
    text-align: center;
}

main section p {
    font-size: xx-large;
}

main section a {
    font-size: xx-large;
    color: rgb(130 179 218);
}

footer {
    background-color: rgb(72, 142, 217);
    padding: 8px;
    margin-top: 25vh;
}

footer a {
    font-size: x-large;
    color: white;
    margin: 0px 5px;

}