<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <nav>
        <a href="">Home</a>
        <a href="">About Us</a>
        <a href="" class="cartImg"><img src="cart.svg" alt="" width="35px"></a>
    </nav>
    <main>
        <div class="hero">
            <div>
            <h1>SHINE PAINT</h1>
            <p>Shine Your Place With Our Paint</p>
            </div>
        </div>
        <section>
            <div>
                <p>Visualise how your place shines. </p>
                <a href="/visualiser">Visualiser</a>
            </div>
            <img src="PaintVisualizer.webp" alt="" width="450px">
        </section>
        <section>
            <img src="PaintCost.webp" alt="" width="450px">
            <div>
                <p>Choose your favourite color and order paint.</p>
                <a href="/colorpicker">Choose and Order</a>
            </div>
            
        </section>
        
        
    </main>
    <footer>
        <a href="">Contact Us</a>
        <a href="">Shops Detail</a>
    </footer>
</body>

</html>