<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/visualiser.css">
</head>

<body>
    <nav>
        <a href="">Home</a>
        <a href="">Visualiser</a>
        <a href="">About Us</a>
        <a href="" class="cartImg"><img src="cart.svg" alt="" width="35px"></a>
    </nav>
    <main>




        <form action="" method="post">


            <label for="uploadImg">Upload image which you want to Visualise</label>
            <input type="file" name="" id="uploadImg">



            <label for="colorChoose">Choose Color</label>
            <input type="color" name="" id="colorChoose">




            <input type="submit" value="Submit">

        </form>




        <div class="imgComparision">
        <div class="previousImg"></div>
        <div class="newImg"></div>
        
        </div>



    </main>



    <footer>
        <a href="">Contact Us</a>
        <a href="">Shops Detail</a>
    </footer>


</body>

</html>